|===
|Path|Type|Description

|`+name+`
|`+String+`
|this is name

|`+email+`
|`+String+`
|this is email

|`+age+`
|`+Number+`
|this is age

|`+birthday+`
|`+String+`
|wow

|`+phone+`
|`+String+`
|wow

|===